:root {
    --brand-color: #233000;
    --text-color: white;
    --second-brand-color: #5E6600;
}

* {
    box-sizing: border-box;
}

body {
    font-family: rufina, sans-serif;
    margin: 0px;

}

h1 {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0px;
}

h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0px;
}



.header {
    padding-top: 46px;
}

.header-container {
    background-color: var(--brand-color);


}

.container {
    padding-left: 138px;
    padding-right: 138px;
}

.header {
    display: flex;
    align-items: center;
}

.reservation-button {
    width: 285px;
    height: 88px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    border: 2px solid #FFFFFF;
    background-color: var(--brand-color);
    cursor: pointer;
    color: white;
    font-family: rufina;




}

.nav-phone {
    text-decoration: none;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 26px;
    margin-left: 590px;
    color: white;

}

.menu-button {
    width: 94px;
    height: 71px;
    margin-left: 45px;
    margin-right: 250px;
    background-color: var(--brand-color);
    border: none;
    background-image: url(../Images/NaviOpen.svg);
}



.hero-title {
    font-size: 140px;
    font-weight: 700;
    line-height: 1.02;
    color: var(--text-color);
    margin-bottom: 50px;




}

.hero-container {
    width: 1090px;
    /* border: 2px solid blue; */

}

.hero {
    background-color: var(--brand-color);
}



.hero-text-wrap {
    display: flex;
}


.hero-image-container {
    position: relative;
    /* border: 20px solid blue; */
    width: 800px;
    height: 800px;
}

.hero-main-image {
    width: 100%;
    height: 100%;
    right: 20px;
    bottom: 0px;
}


.hero-bowl-image {
    position: absolute;
    left: -300px;
    bottom: 20px;
}

.hero-colum {
    display: flex;
}

.hero-colum-right {
    position: relative;
    z-index: 5;
    right: -910px;
    margin-bottom: 280px;
    margin-top: 226px;
}

.hero-colum-left {
    position: absolute;
    left: 180px;
    z-index: 15;
    margin-top: 108px;
}

.hero-colum-buttom {
    display: flex;

}

.hero-colum-buttom-left {
    margin-right: 450px;
    margin-bottom: 54px;
}

.hero-sud-text {
    margin-bottom: 54px;
    margin-top: 54px;
}

.hero-salt-image {
    margin-top: 84px;
}


.svg-icon {
    height: 200px;
    width: 200px;
    background-color: transparent;
    border: none;
}

.svg-icon {
    background-image: url(../Images/call-icon.svg);
    background-size: contain;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 50;
}

.menu {
    padding-left: 138px;
    padding-right: 138px;
    padding-bottom: 200px;
    background-image: url(../Images/menu-bg-image.png);
    background-repeat: no-repeat;
    background-position: right 10px top 0px;

}

.menu-list {
    display: flex;
    padding-left: 0px;

    row-gap: 108px;
    column-gap: 60px;
    flex-wrap: wrap;
    list-style-type: none;
}

.menu-top-container {
    margin-bottom: 108px;
    padding-top: 90px;

}

.menu-item {
    flex-basis: calc((100% - 1 * 60px)/2);
}

.menu-span {
    font-weight: 700;
    font-size: 8px;
}


.menu-item h3 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 0px;
    margin-top: 24px;
}

.menu-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 24px;
}


.menu-span {
    display: flex;
    justify-content: end;
    border-bottom: 5px dotted black;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.3;
}

.menu-container {
    border: 1px solid red;
}

.image {
    display: flex;
    padding-left: 138px;
    padding-right: 138px;
    padding-bottom: 200px;
    padding-top: 100px;
    background-color: #EBF0E4;
    background-image: url("../Images/Leaf-right.png"), url("../Images/Leaf-left.png");
    background-repeat: no-repeat;
    background-position: right 10px bottom 380px, top 100px left 150px;
}

.image-text-container {
    width: 900px;
    height: 600px;
    margin-left: 44px;
    padding-top: 80px;
}

.image-text {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}

.icon-list {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 207px;
    padding-bottom: 190px;
    padding-left: 0px;
}


.icon-svg {
    margin-right: 60px;
}

.icon-svg:last-child {
    margin-right: 0px;
}

.icon-title::before {
    display: block;
    content: "";
    width: 260px;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #EBF0E4;
    border-radius: 50%;
    margin-bottom: 39px;
}

.blog-list-item {
    width: 50%;
    margin-right: 40px;
}

.blog-list-item2 {
    margin-right: 0px;
    width: 50%;
}

.icon-list-item1::before {
    background-image: url("../Images/Icon_fish.png");
}

.icon-list-item2::before {
    background-image: url("../Images/Icon_carrot.svg");
}

.icon-list-item3::before {
    background-image: url("../Images/Vector_lemon.png");
}

.icon-title {
    margin-bottom: 39px;
}

.blog-list {
    list-style-type: none;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;

}

.blog-container {
    position: relative;

}

.blog-image1-span {
    position: absolute;
    top: 12px;
    right: 12px;
    min-width: 200px;
    min-height: 60px;
    background-color: var(--second-brand-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.8;
}


.blog-image1 {
    width: 100%;
}

.blog-stats {
    display: flex;
    align-items: center;
    margin-top: 68px;
    margin-bottom: 48px;

}

.title {
    border-bottom: 8px dotted black;
    padding-bottom: 18px;

}

.blog-text {
    margin-bottom: 46px;
    margin-top: 16px;
}

.blog-stats-span {
    margin-right: 9px;
}

.blog-stats-span:last-child {
    margin-right: 0px;
}

.blog-box {
    padding-left: 72px;
    padding-bottom: 82px;
    padding-right: 75px;
}

.link-icon::after {
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../Images/readmore.right-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;

}

.link-icon {
    display: flex;


}

.recipe-title {
    font-weight: 108px;
    text-align: center;
}

.recipe-text {
    text-align: center;
}

.recipe-list {
    display: flex;
    margin-top: 126px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;

}

.list-item {
    margin-right: 60px;
    position: relative;
    width: 508px;
    height: 710px;
}


.list-item span {
    position: absolute;
    top: 48px;
    left: 40px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
}

.list-item svg {
    position: absolute;
    top: 34px;
    right: 48px;
}

.review-text {
    background-image: url("../Images/”.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 192px;
    width: 1200px;
    padding-top: 118px;
    padding-left: 246px;
    font-size: 48px;
    font-weight: 700px;
    line-height: 1.3;
}

.review-portion {
    display: flex;
    padding-left: 246px;
    margin-top: 86px;

}